{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block head %}
    <link href="{{ asset('/bundles/maximmoduleticket/css/admin.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}
{% block content %}
<div class="container" style="width:100%;">
    <h1>Tickets</h1>
    <div class="container-content clearfix">
        <div id="ticket-status" class="alert"></div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">TICKETS</a></li>
                <li><a href="#tabs-2">TICKET SECTIONS</a></li>
            </ul>
            <div id="tabs-1">
                <!-- VIEW NEWS POSTS -->
                <table id="table_tickets">
                    <thead>
                    <tr>
                        <th style="width:20px;">ID</th>
                        <th style="width:60px;">SECTION</th>
                        <th style="width:170px;">STATUS CHANGED ON</th>
                        <th style="width:200px;">STATUS</th>
                        <th style="width:100px;">TICKET USERNAME</th>
                        <th style="overflow:hidden;">DESCRIPTION</th>
                        <th style="width:30px;">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="overflow:hidden;"></td>
                        <td style="width:30px;"></td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    var oTable;
                    var giRedraw = false;

                    $(document).ready(function() {
                        // Edit record
                        $('#table_tickets').on('click', 'a.editor_view', function (e) {
                            e.preventDefault();

                            //call ajax delete request
                            var url = '{{ path("admin_module_ticket_view", {'id': 'region_id'}) }}';
                            url = url.replace("region_id", this.getAttribute("data-id"));

                            var win=window.open(url, '_blank');
                            win.focus();
                        });

                        // Edit record
                        $('#table_tickets').on('click', 'a.editor_close', function (e) {
                            e.preventDefault();

                            //call ajax delete request
                            var url = '{{ path("admin_module_ticket_close", {'id': 'region_id'}) }}';
                            url = url.replace("region_id", this.getAttribute("data-id"));

                            var win=window.open(url, '_blank');
                            win.focus();
                        });

                        $("#table_tickets tbody").click(function(event) {
                            $(oTable.fnSettings().aoData).each(function (){
                                $(this.nTr).removeClass('row_selected');
                            });
                            $(event.target.parentNode).addClass('row_selected');
                        });

                        oTable = $('#table_tickets').dataTable( {
                            "bSort": true,
                            "bFilter": true,
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "{{ path('admin_module_ticket_ajax') }}",
                            "iDisplayLength": 30,
                            "aoColumns": [
                                { "mData": "id" },
                                {
                                    "sClass": "center",
                                    "mData": "section.name"
                                },
                                { "mData": "statuschangedon" },
                                { "mData": "status" },
                                { "mData": "user.username" },
                                {   "mData": "description",
                                    "mRender": function(data, type, full){
                                        return data.substring(0, 150);
                                    }
                                },
                                {
                                    "mData": "id",
                                    "sClass": "center action-buttons",
                                    "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                        if(row["description"].indexOf("Bajan") != -1) {
                                            return '<span class="button-small inline ticket-admin-warning">!</span><a href="#" data-id="' + row["id"] + '" class="editor_view button-small inline">V</a><a href="#" data-id="' + row["id"] + '" class="editor_close button-small inline">C</a>';
                                        } else {
                                            return '<a href="#" data-id="' + row["id"] + '" class="editor_view button-small inline">V</a><a href="#" data-id="' + row["id"] + '" class="editor_close button-small inline">C</a>';
                                        }
                                    }
                                }
                            ]
                        });
                    });

                    function fnGetSelected( oTableLocal )
                    {
                        var aReturn = new Array();
                        var aTrs = oTableLocal.fnGetNodes();

                        for ( var i=0 ; i<aTrs.length ; i++ )
                        {
                            if ( $(aTrs[i]).hasClass('row_selected') )
                            {
                                aReturn.push( aTrs[i] );
                            }
                        }
                        return aReturn;
                    }

                </script>
            </div>
            <div id="tabs-2">
                <!-- buttons -->
                <a href="{{ path('admin_module_ticket_section_addView') }}" id="add-section" class="button">Add Section</a>
                <!-- VIEW NEWS POSTS -->
                <table id="table_section">
                    <thead>
                    <tr>
                        <th style="width:20px;">ID</th>
                        <th style="width:60px;">NAME</th>
                        <th style="width:170px;">CREATED ON</th>
                        <th style="width:200px;">CREATED BY</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <script>
                    var oTable2;
                    var giRedraw2 = false;

                    $(document).ready(function() {
                        // Edit record
                        $('#table_section').on('click', 'a.editor_view', function (e) {
                            e.preventDefault();

                            //call ajax delete request
                            var url = '{{ path("admin_module_ticket_section_editView", {'id': 'region_id'}) }}';
                            url = url.replace("region_id", this.getAttribute("data-id"));

                            var win=window.open(url, '_blank');
                            win.focus();
                        });

                        // Edit record
                        $('#table_section').on('click', 'a.editor_close', function (e) {
                            e.preventDefault();

                            //call ajax delete request
                            var url = '{{ path("admin_module_ticket_close", {'id': 'region_id'}) }}';
                            url = url.replace("region_id", this.getAttribute("data-id"));

                            var win=window.open(url, '_blank');
                            win.focus();
                        });

                        oTable2 = $('#table_section').dataTable( {
                            "bSort": true,
                            "bFilter": true,
                            "bProcessing": true,
                            "bServerSide": true,
                            "sAjaxSource": "{{ path('admin_module_ticket_section_ajax') }}",
                            "aoColumns": [
                                { "mData": "id" },
                                {
                                    "mData": "name",
                                    "sClass": "center"
                                },
                                { "mData": "createdon" },
                                { "mData": "createdby.username" },
                                {
                                    "mData": "id",
                                    "sClass": "center action-buttons",
                                    "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                        return '<a href="#" data-id="' + row["id"] + '" class="editor_view button-small inline">V</a>';
                                    }
                                }
                            ]
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
    $('#tabs').tabs();
</script>
{% endblock %}