{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
    <h1>Edit news article</h1>
    <div class="container-content clearfix">
        <div id="news-status"></div>
        <form action="{{ path('admin_news_update_ajax') }}" class="form-clean" id="frmEditNews" method="post">
            <p>
                <label for="news-title">Title</label><br/>
                <input type="text" name="_admin_news_title" class="inputbox" value="{{ news.title }}" id="news-title" >
            </p>

            <!-- WEBSITE -->
            <p>
                <select name="_admin_news_website" id="admin_news_website" class="selectable" value="Website" data-validate-options="selectable">
                    <option value="">Choose a website</option>
                    {% for website in websites %}
                        {% if website.id == news.website.id %}
                            <option selected="selected" value="{{ website.id }}">{{ website.name }}</option>
                        {% else %}
                            <option value="{{ website.id }}">{{ website.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>

            <div id="news_add_sections_panel">
                <p>
                    <select id="news_sections"></select>
                </p>
            </div>

            <p>
                <label for="content" >Content</label>

                <textarea cols="80" rows="20" name="_admin_news_content" id="news-content" style="width:670px;">{{ news.content }}</textarea>
            </p>
            <input type="submit" value="Save" class="button" id="btnSave"/>
            <input type="hidden" name="_hdnId" id="admin_news_id_hdn" value="{{ news.id }}"/>
        </form>
    </div>
    <script>
        //onclick
        UI.editor('news-content');


        $.getJSON("{{ path('admin_get_news_sections_pattern') }}" + $('#admin_news_website').val(), function(result) {
            for (var i = 0; i < result.length; i++) {
                $('#news_sections').append(new Option(result[i].name, result[i].id));
            }
            {% if news.section.name is defined %}
                $('#news_sections').val("{{ news.section.id }}");
            {% endif %}
        });

        $('#admin_news_website').change(function(){

            $('#news_sections').html('');

            $.getJSON("{{ path('admin_get_news_sections_pattern') }}" + $('#admin_news_website').val(), function(result) {
                for (var i = 0; i < result.length; i++) {
                    $('#news_sections').append(new Option(result[i].name, result[i].id));
                }
            });

        });

        $('#frmEditNews').submit(function(e) {
            e.preventDefault();

            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();

            AJAX.post_noButton(
                $("#frmEditNews").attr("action"),
                {
                    _admin_news_id : $('#admin_news_id_hdn').val(),
                    _admin_news_title : $("#news-title").val(),
                    _admin_news_content : $("#news-content").val(),
                    _admin_news_section : $("#news_sections").val(),
                    _admin_news_website : $('#admin_news_website').val()
                },
                $("#news-status")
            );
        });
    </script>
    </div>
{% endblock %}
