<ul class="module-list">
    {% for thread in latestThreads %}
        <li class="latestthread">
            <a href="{{ path('profile', {'name' : thread.createdBy.username }) }}" class="tooltip-init latestthread-profile" title="{{ thread.createdBy.username }}">
                <img src="https://minotar.net/helm/{{ thread.createdBy.username }}/35.png" alt="{{ thread.createdBy.username }}"/>
            </a>
            <div class="latestthread-text">
                <a href="{{ path('forum_thread_view', {'id' : thread.forum.id, 'threadid' : thread.id}) }}" class="tooltip-init latestthread-title" title="{{ thread.title|purify }}">{{ thread.title|cutlength(15) }}</a>
                <span class="latestpost-timeago">{{ thread.createdOn|date('U')|timeago }} ago in <a href="{{ path('forum_view', {'id' : thread.forum.id}) }}">{{ thread.forum.title }}</a></span>
            </div>
        </li>
    {% else %}
        <li class="latestthread">
            <p>No threads have been created yet.</p>
        </li>
    {% endfor %}
</ul>