{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Tickets</h1>
    <hr/>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Tickets</a></li>
            <li><a href="#tab2" data-toggle="tab">Make a ticket</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <table class="table table-hover" id="tblTickets">
                    <tr>
                        <th>Number</th>
                        <th>Description</th>
                        <th>Last update</th>
                    </tr>
                    {% for ticket in tickets %}
                        <tr data-link="{{ ticket.id }}" style="cursor:pointer;">
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.description|truncate(50) }}</td>
                            <td>{{ ticket.statuschangedon|date('Y-m-d h:i:s') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No tickets have been found</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane" id="tab2">
                <div id="ticket-status" class="alert" style="display:none;"></div>
                <form action="{{ path('ticket_create') }}" method="post" id="frmCreateTicket">
                    <fieldset>
                        <p>
                            <label for="section">Section:</label>
                            <select name="_section" id="section">
                                {% for section in sections %}
                                    <option value="{{ section.id }}">{{ section.name }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            <label for="description">Description: </label>
                            <textarea id="description" name="_description" cols="30" rows="10" style="width:90%;"></textarea>
                        </p>
                        <p>
                            <input type="submit" value="Open a ticket" class="btn btn-info" name="_btnCreateTicket" id="btnCreateTicket"/>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    $('#tblTickets tr').click(function(){
    if($(this).attr("data-link") != undefined)
    {
    window.location.href = '{{ path('ticket_view_pattern') }}' + '/' + $(this).attr("data-link");
    }
    })

    $("#frmCreateTicket").submit(function() {
    //get the url for the form
    AJAX.post(
    $("#frmCreateTicket").attr("action"),
    $('#frmCreateTicket').serialize(),
    $("#ticket-status"),
    $("#btnCreateTicket"));
    //we dont what the browser to submit the form
    return false;
    });

{% endblock %}
