<div id="footer-wrapper">
	<p>
		All Rights Reserved &copy; 2012 <a href="#" class="color-green">MCSuite</a>. Default Template<br/>
		Template Designed by <a href="#" class="color-green">Blachex</a>
	</p>
    <ul class="footer-links">
        <li><a href="{{ path('home') }}">HOME</a></li>
        <li><a href="{{ path('shop') }}">SHOP</a></li>
        <li><a href="{{ path('register') }}">REGISTER</a></li>
        <li><a href="{{ path('page_custom', {page : 'connect' }) }}">CONNECT</a></li>
        <li><a href="{{ path('page_custom', {page : 'help' }) }}">HELP</a></li>
    </ul>
    <script type="text/javascript" src="http://images.dmca.com/Automark.aspx?width=480&height=320&account=wmt3fa1288"></script>
    <a href="http://www.dmca.com/Protection/Status.aspx?ID=f469bca8-46f5-44ad-8b59-55be1d5a2e0f" title="DMCA"> <img src ="http://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=f469bca8-46f5-44ad-8b59-55be1d5a2e0f"  alt="DMCA.com" /></a>
</div>