<li><a href="{{ path('home') }}">Home</a></li>
<li><a href="{{ path('register') }}">Registration</a></li>
<li><a href="{{ path('page_forum') }}">Community</a></li>
<li><a href="{{ path('home') }}">Help</a></li>
<li><a href="{{ path('shop') }}">Shop</a></li>