{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Page statistics</h1>
        <div class="container-content">
            <p>Adding later</p>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>Shop Actions</h1>
        <div class="container-content">
            <a href="{{ path('admin_shop_add') }}" class="button" style="display:inline-block;">Add an item</a>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>Users</h1>
        <div class="container-content clearfix">
            <div id="shop-status" class="alert"></div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">ITEMS</a></li>
                    <li><a href="#tabs-2">SECTIONS</a></li>
                </ul>
                <div id="tabs-1">
                    <!-- VIEW NEWS POSTS -->
                    <table id="table_shop">
                        <thead>
                        <tr>
                            <th style="width:10px;">ID</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th style="width:10px;">AMOUNT</th>
                            <th style="width:10px;">VISIBLE</th>
                            <th>COMMAND</th>
                            <th>IMAGE</th>
                            <th style="width:10px;">REDUCTION</th>
                            <th>SECTION</th>
                            <th>SERVER</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                        var editor; // use a global for the submit and return data rendering in the examples
                        var oTable;
                        var giRedraw = false;
                        $(document).ready(function() {
                            // Create the form

                            // Edit record
                            $('#table_shop').on('click', 'a.editor_edit', function (e) {
                                e.preventDefault();

                                //call ajax delete request
                                var url = '{{ path("admin_shop_edit", {'id': 'region_id'}) }}';
                                url = url.replace("region_id", this.getAttribute("data-id"));

                                var win=window.open(url, '_blank');
                                win.focus();
                            });

                            // Delete a record (without asking a user for confirmation)
                            $('#table_shop').on('click', 'a.editor_remove', function (e) {
                                e.preventDefault();

                                //call ajax delete request
                                var url = '{{ path("admin_shop_ajax_delete", {'id': 'region_id'}) }}';
                                url = url.replace("region_id", this.getAttribute("data-id"));

                                AJAX.post_url_datatable(url, $(this).parents('tr')[0], oTable);
                            } );

                            oTable = $('#table_shop').dataTable( {
                                "bSort": true,
                                "bFilter": true,
                                "bProcessing": true,
                                "bServerSide": true,
                                aoColumnDefs: [
                                    {
                                        sDefaultContent: '',
                                        aTargets: [ '_all' ]
                                    }
                                ],
                                "sAjaxSource": "{{ path('admin_shop_ajax') }}",
                                "aoColumns": [
                                    { "mData": "id" },
                                    { "mData": "name" },
                                    {   "mData": "description",
                                        "sClass": "center",
                                        "mRender": function(data, type, full){
                                            return data.substring(0, 150) + "...";
                                        }
                                    },
                                    { "mData": "amount" },
                                    { "mData": "visible" },
                                    { "mData": "command" },
                                    { "mData": "image" },
                                    { "mData": "reduction" },
                                    { "mData": "section.name" },
                                    { "mData": "server.name"},
                                    {
                                        "mData": "id",
                                        "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                            return '<a href="#" data-id="' + row["id"] + '" class="editor_edit button-small inline">E</a><a href="#" data-id="' + row["id"] + '" class="editor_remove button-small inline">X</a>';
                                        }
                                    }
                                ]
                            });

                        });
                    </script>
                </div>
                <div id="tabs-2">
                    <!-- VIEW NEWS POSTS -->
                    <table id="table_sections">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                        var editor1; // use a global for the submit and return data rendering in the examples
                        var oTable1;
                        var giRedraw1 = false;
                        $(document).ready(function() {
                            // Create the form

                            // Edit record
                            $('#table_sections').on('click', 'a.editor_edit', function (e) {
                                e.preventDefault();

                                //call ajax delete request
                                var url = '{{ path("admin_shop_section_edit", {'id': 'region_id'}) }}';
                                url = url.replace("region_id", this.getAttribute("data-id"));

                                var win=window.open(url, '_blank');
                                win.focus();
                            });

                            // Delete a record (without asking a user for confirmation)
                            $('#table_sections').on('click', 'a.editor_remove', function (e) {
                                e.preventDefault();

                                //call ajax delete request
                                var url = '{{ path("admin_shop_section_delete_ajax", {'id': 'region_id'}) }}';
                                url = url.replace("region_id", this.getAttribute("data-id"));

                                AJAX.post_url_datatable(url, $(this).parents('tr')[0], oTable);
                            } );

                            oTable = $('#table_sections').dataTable( {
                                "bSort": true,
                                "bFilter": true,
                                "bProcessing": true,
                                "bServerSide": true,
                                aoColumnDefs: [
                                    {
                                        sDefaultContent: '',
                                        aTargets: [ '_all' ]
                                    }
                                ],
                                "sAjaxSource": "{{ path('admin_shop_section_ajax') }}",
                                "aoColumns": [
                                    { "mData": "id" },
                                    { "mData": "name" },
                                    {   "mData": "description",
                                        "sClass": "center",
                                        "mRender": function(data, type, full){
                                            return data.substring(0, 150) + "...";
                                        }
                                    },
                                    {
                                        "mData": "id",
                                        "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                            return '<a href="#" data-id="' + row["id"] + '" class="editor_edit button-small inline">E</a><a href="#" data-id="' + row["id"] + '" class="editor_remove button-small inline">X</a>';
                                        }
                                    }
                                ]
                            });

                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <script>
        $('#tabs').tabs();
    </script>
{% endblock %}
