{% extends 'MaximCMSBundle:admin:index.html.twig' %}

{% block middle %}
<style>
	table tr.even.row_selected td {
	background-color: #B0BED9;
}

table tr.odd.row_selected td {
	background-color: #9FAFD1;
}
</style>
<div id="middle_menu_top">
	<div class="vertical">
		<h1>Applications</h1>
	</div>
</div>
<div id="middle_menu_small">
	<ul>
		<li><a href="{{ path('admin_application') }}">Application</a></li>
		<!--<li><a href="#">test2</a></li>
		<li><a href="#">test3</a></li>-->
	</ul>
</div>
<div id="middle_content">
	<div class="window">
		<div class="window-header">
			<h6>Application list</h6>
		</div>
		<div class="window-content">
			<button id="viewSelectedApplication" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">View selected application</button>
            <button type="button" name="" id="view-application-tab" value="" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">View application in other tab</button>
            <a href="{{ path('admin_application_add') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Add a new application form</a>
			<!-- VIEW NEWS POSTS -->
			<table id="table_id">
			    <thead>
			        <tr>
			            <th>ID</th>
			            <th>DESCRIPTION</th>
			            <th>USER</th>
			            <th>DATE</th>
			            <th>RANK</th>
                        <th style="width:10px;">DENIED</th>
			        </tr>
			    </thead>
			    <tbody>
				    <tr class="odd gradeX">
			            <td></td>
			            <td></td>
			            <td></td>
			            <td></td>
			            <td></td>
                        <td style="width:10px;"></td>
			        </tr>
		        </tbody>
			</table>	
			<script>
			var oTable;
			var giRedraw = false;
			
			$(document).ready(function() {
   				$("#table_id tbody").click(function(event) {
					$(oTable.fnSettings().aoData).each(function (){
						$(this.nTr).removeClass('row_selected');
					});
					$(event.target.parentNode).addClass('row_selected');
				});
				
				/* Add a click handler for the delete row */
				$('#delete-application').click( function() {
					
					
					var anSelected = fnGetSelected( oTable );
					var aData = oTable.fnGetData(anSelected);
					/* GET ID FOR AJAX */
					var id = aData["id"];
					AJAX.post_noButton(
						"{{ path('admin_application_delete') }}", 
						{
							_admin_application_id : id
						}, 
						$("#msgbox") 
					);
					/* Delete row */
					oTable.fnDeleteRow( anSelected[0] );
				} );
				
				/* Add a click handler for the edit row */
				$('#viewSelectedApplication').click( function() {
					var anSelected = fnGetSelected( oTable );
					var aData = oTable.fnGetData(anSelected);
					//Redirect to user profile 
					var url = "{{ path('admin_application') }}/view/" + aData['id'];
					window.location.href = url;
				} );

                $('#view-application-tab').click( function() {
                    var anSelected = fnGetSelected( oTable );
                    var aData = oTable.fnGetData(anSelected);
                    if(typeof aData["id"] == "undefined"){
                        alert('Please choose an application');
                    }else{
                        window.open('{{ path('admin_application') }}/view/' + aData["id"]);
                    }

                });
				oTable = $('#table_id').dataTable( {
					"bSort": true,
                    "bFilter": true,
					"bProcessing": true,
					"bServerSide": true,
					"sAjaxSource": "{{ path('admin_application_ajax') }}",
                    "aaData": [

                    ],
					"aoColumns": [
						{ "mData": "id" },
				        { "mData": "description" },
				        { "mData": "user.username" },
				        { "mData": "date" },
				        { "mData": "group.name" },
                        { "mData": "denied"}
				    ]
				});
			});
			
			/* Get the rows which are currently selected */
			function fnGetSelected( oTableLocal )
			{
				var aReturn = new Array();
				var aTrs = oTableLocal.fnGetNodes();
				
				for ( var i=0 ; i<aTrs.length ; i++ )
				{
					if ( $(aTrs[i]).hasClass('row_selected') )
					{
						return (aTrs[i]);
					}
				}
				
			}
			</script>

		</div>
	</div>
</div>
{% endblock middle %}