{% extends 'MaximModuleForumBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Create a thread for {{ forum.title }}</h3>
        <div class="page-content">
            <div id="status-thread" class="alert"></div>
            <form action="{{ path('forum_thread_create', {'id' : forum.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Create thread" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripttags %}
<script>
    $('#form_create_thread').submit(function(e) {
        e.preventDefault();

        AJAX.post(
                $("#form_create_thread").attr("action"),
                {
                    _forumid : {{ forum.id }},
                    _thread_text : $("#thread_description").val(),
                    _thread_title : $('#thread_title').val()
                },
                $("#status-thread"),
                $('#btnCreateThread')
        );
    });
</script>
{% endblock scripttags%}