{% extends 'MaximModuleForumBundle:Default:index.html.twig' %}

{% block body %}
<div class="page">
    <h3 class="page-header">Edit post</h3>
    <div class="page-content">
        {# BREADCRUMB BAR #}
        <ul class="breadcrumbs clearfix">
            <li><a href="{{ path('forum_view', {'id' : post.thread.forum.id, 'seo' : post.thread.forum.title|seo}) }}">{{ post.thread.forum.title }}</a></li>
            <li><a href="{{ path('forum_thread_view', {'id' : post.thread.forum.id, 'threadid' : post.thread.id}) }}" >{{ post.thread.title }}</a></li>
            <li>Editing post</li>
        </ul>

        <form action="{{ path('forum_post_edit', {'id': post.thread.forum.id, 'threadid': post.thread.id, 'postid' : post.id }) }}" {{ form_enctype(form) }} method="POST" class="post_edit" id="post-edit">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="Edit post" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}

