{% extends 'MaximModuleForumBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Edit thread</h3>
        <div class="page-content">
            {# BREADCRUMB BAR #}
            <ul class="breadcrumbs clearfix">
                <li><a href="{{ path('forum_view', {'id' : thread.forum.id, 'seo' : thread.forum.title|seo}) }}">{{ thread.forum.title }}</a></li>
                <li><a href="{{ path('forum_thread_view', {'id' : thread.forum.id, 'threadid' : thread.id}) }}" >{{ thread.title }}</a></li>
                <li><a href="{{ path('forum_thread_edit', {'id' : thread.forum.id, 'threadid' : thread.id}) }}" class="active" style="color:gray">Editing thread</a></li>
            </ul>

            <form action="{{ path('forum_thread_edit', {'id' : thread.forum.id, 'threadid' : thread.id }) }}" {{ form_enctype(form) }} method="POST" class="thread_edit">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Create thread" class="btn btn-default"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}