{% extends 'MaximModuleForumBundle:Default:index.html.twig' %}

{% block title %}Eye of ender - Forum{% endblock title %}

{% block body %}
    <div class="page">
    {% for category in categories %}
        <div class="mcsf_category">
            <div class="mcsf_category_header">
                <h1>{{ category.title }}</h1>
            </div>
            <div class="mcsf_category_content">
                {% for forum in category.forums %}
                    <div class="mcsf_forum clearfix clearfix-left">
                        {% if forum.threadCount > config.forum.popularPERC %}
                            <span class="mcsf_forum_icon mcsf_icon-topic mcsf_icon-topic-popular"></span>
                        {% else%}
                            <span class="mcsf_forum_icon mcsf_icon-topic mcsf_icon-topic-regular"></span>
                        {% endif %}
                        <div class="mcsf_forum_text">
                            <h3>
                                <a href="{{ path('forum_view', {'id' : forum.id}) }}">{{ forum.title }}</a>
                            </h3>
                            <p>Threads: {{ forum.threadCount }}, posts: {{ forum.postCount }}</p>
                        </div>

                        <div class="mcsf_forum_latest">
                            {% if forum.lastPost != null and forum.lastPostCreator != null %}
                                Latest: <a href="#">{{ forum.lastPost.thread.title }}</a><br/>

                                {% if forum.lastPostCreator != null and forum.lastPost != null %}
                                    {{ forum.lastPostCreator.username }}, {{ forum.lastPost.createdOn|prettydate }}
                                {% endif %}
                            {% else %}
                                <p>Unable to fetch last post</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <p>No forums found in this category</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="page-content">
            <p>No categories have been found.</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}