{% extends 'MaximModuleForumBundle:Default:index.html.twig' %}

{% block title %}Thread - {{ thread.title }}{% endblock title %}

{% block body %}
    <div class="page">
        <h3 class="page-header">{{ thread.title }}<p>Created on {{ thread.createdOn|date('M j \, Y H:i:s') }}</p></h3>
        <div class="page-content">
            {# MAIN TOPIC #}
            <div class="mcsf_thread{% if thread.disabled %} mcsf_thread_disabled{% endif %}" id="thread-{{ thread.id }}">

                {# STATUS BAR #}
                <div id="admin-status" class="alert"></div>

                {# BREADCRUMB BAR #}
                <ul class="breadcrumbs clearfix">
                    <li><a href="{{ path('forum_view', {'id' : thread.forum.id, 'seo' : thread.forum.id}) }}">{{ thread.forum.title }}</a></li>
                    <li><a href="{{ path('forum_thread_view', {'id' :  thread.forum.id, 'threadid' : thread.id}) }}" class="active" style="color:gray">{{ thread.title }}</a></li>
                </ul>

                {# ADMIN ACTION BAR #}
                {% if is_granted('ROLE_STAFF') %}
                    <ul class="mcsf_adminbar">
                        <li>
                            <select id="admin_thread_move" data-href="{{ path('forum_thread_move_ajax', {'id' : thread.id}) }}">
                                <option value="0">-- select forum --</option>
                                {% for forum in forums %}
                                    <option value="{{ forum.id }}">{{ forum.category.title }} > {{ forum.title }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><button data-href="{{ path('forum_thread_archive_ajax', {'id' : thread.id}) }}" id="admin_thread_archive">Archive</button></li>
                        <li><button data-href="{{ path('forum_thread_pin_ajax', {'id' : thread.id}) }}" id="admin_thread_pin">{% if thread.isPinned() %}unpin{% else %}pin{% endif %}</button></li>
                        <li><button data-href="{{ path('forum_thread_lock_ajax', {'id' : thread.id}) }}" id="admin_thread_lock">{% if thread.isLocked() %}open{% else %}close{% endif %}</button></li>
                        <li><button data-href="{{ path('forum_thread_disable_ajax', {'id' : thread.id}) }}" id="admin_thread_disable">{% if thread.isDisabled() %}Make Visible{% else %}Disable (Not Visible to others){% endif %}</button></li>
                    </ul>
                {% endif %}

                {# HEAD POST #}
                {% if posts.getCurrentPageNumber == 1 %}
                <div class="mcsf_post_main">
                    <div class="mcsf_post">

                        <div class="mcsf_post_author">
                            <ul class="mcsf_post_author_details">
                                <li class="mcsf_post_author_name">
                                    <a href="{{ path('profile', {'name' : thread.createdBy.username}) }}" alt="visit profile of{{ thread.createdBy.username }}">
                                        {{ thread.createdBy.username }}
                                    </a>
                                </li>
                                <li class="mcsf_post_author_image">
                                    <img src="http://minotar.net/helm/{{ thread.createdBy.username }}/80.png" alt="image of {{ thread.createdBy.username }}"/>
                                </li>
                                <li class="mcsf_post_author_smalltext">{{ thread.createdBy.forumText }}</li>
                            </ul>

                            <p class="mcsf_post_author_title {{ thread.createdBy.group.cssClass }}">{{ thread.createdBy.group.name }}</p>

                            <ul class="mcsf_post_author_info">
                                <li>Posts: {{ thread.createdBy.posts|length }}</li>
                                <li>Joined: {{ thread.createdBy.createdAt|date('M Y') }}</li>
                            </ul>

                            {% if is_granted('ROLE_STAFF') %}
                            <ul class="mcsf_admin_user">
                                <li><button data-href="{{ path('forum_thread_lock_ajax', {'id' : thread.id}) }}" id="mcsf_admin_user_ban">Ban User</button></li>
                                <li><button data-href="{{ path('forum_thread_lock_ajax', {'id' : thread.id}) }}" id="mcsf_admin_user_ipban">IP Ban User</button></li>
                            </ul>
                            {% endif %}
                        </div>

                        <div class="mcsf_post_content">

                            <div>
                                {{ thread.text|purify }}
                            </div>


                            <ul class="mcsf_post_content_lowerbar clearfix">
                                {# OPTIONS #}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and thread.createdBy.id == app.user.id %}
                                    <li><a class="mcsf_post_option_button" href="{{ path('forum_thread_edit', {'id' : thread.forum.id, 'threadid' : thread.id}) }}">Edit</a></li>
                                {% endif %}
                                <li><span class="mcsf_post_createdOn">{{ thread.createdOn|prettydate }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}

                {# POSTS #}
                <div class="mcsf_posts">
                    {% for index, post in posts %}
                        <div class="mcsf_post clearfix" id="post-{{ posts.getItemNumberPerPage * (posts.getCurrentPageNumber - 1) + index + 1 }}">

                            <div class="mcsf_post_author">
                                <ul class="mcsf_post_author_details">
                                    <li class="mcsf_post_author_name">
                                        <a href="{{ path('profile', {'name' : post.createdBy.username}) }}" alt="visit profile of{{ post.createdBy.username }}">
                                            {{ post.createdBy.username }}
                                        </a>
                                    </li>
                                    <li class="mcsf_post_author_image">
                                        <img src="http://minotar.net/helm/{{ post.createdBy.username }}/80.png" alt="image of {{ post.createdBy.username }}"/>
                                    </li>
                                    <li class="mcsf_post_author_smalltext">{{ post.createdBy.forumText }}</li>
                                </ul>

                                <p class="mcsf_post_author_title {{ post.createdBy.group.cssClass }}">{{ post.createdBy.group.name }}</p>

                                <ul class="mcsf_post_author_info">
                                    <li>Posts: {{ post.createdBy.posts|length }}</li>
                                    <li>Joined: {{ post.createdBy.createdAt|date('M Y') }}</li>
                                </ul>
                            </div>

                            <div class="mcsf_post_content">
                                <div class="mcsf_post_topbar clearfix">
                                    <span class="mcsf_post_index">Post: <a href="{{ path('forum_thread_view', {'id': thread.forum.id, 'threadid': thread.id}) }}?page={{ posts.getItemNumberPerPage * (posts.getCurrentPageNumber - 1) + index + 1 }}#post-{{ posts.getItemNumberPerPage * (posts.getCurrentPageNumber - 1) + index + 1 }}">#{{ posts.getItemNumberPerPage * (posts.getCurrentPageNumber - 1) + index + 1 }}</a></span>
                                </div>

                                <div class="mcsf_post_text clearfix">
                                    {{ post.text|purify }}
                                </div>


                                <ul class="mcsf_post_content_lowerbar clearfix">
                                    {# OPTIONS #}
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and post.createdBy.id == app.user.id %}
                                        <li><a class="mcsf_post_option_button" href="{{ path('forum_post_edit', {'id' : thread.forum.id, 'threadid' : thread.id, 'postid': post.id}) }}">Edit</a></li>
                                    {% endif %}
                                    {% if post.likesHasUser(app.user) %}
                                        <li><span class="mcsf_post_like_text">You liked this!</span></li>
                                    {% else %}
                                        <li><button class="mcsf_post_like mcsf_post_option_button" value="{{ post.id }}">Like</button></li>
                                    {% endif %}

                                    {% if post.likes|length > 0 %}
                                        <li><span class="mcsf_post_amountLikes{% if post.likes|length > 5 %} mcsf_post_amountLikes-extra{% endif %}">{{ post.likes|length }}</span></li>
                                    {% endif %}
                                    <li><span class="mcsf_post_createdOn">{{ post.createdOn|prettydate }}</span></li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {# DISPLAY PAGE NAV #}
                <div class="navigation">
                    {{ knp_pagination_render(posts) }}
                </div>

                <div class="mcsf_thread_reply">
                    {% if thread.isLocked() or thread.isDisabled() %}
                        <p class="mcsf_thread_locked">This thread is locked.</p>
                    {% else %}
                        {% if app.user %}
                            <h3>Post a reply</h3>
                            <form action="{{ path('forum_thread_view', {'id' : thread.forum.id, 'threadid' : thread.id}) }}" {{ form_enctype(form) }} method="post" id="frmReply">
                                {{ form_widget(form) }}
                                <div style="margin-top:5px;">
                                    <input type="submit" value="Reply to thread" class="btn" id="btnReply"/>
                                </div>
                            </form>
                        {% else %}
                            <p class="mcsf_thread_notLoggedIn">You must be logged in to reply to a thread.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripttags %}
    {% if is_granted('ROLE_STAFF') %}
    <script>;
        $('.user-toolbar').toolbar({
            content: '#user-toolbar-options',
            position: 'top'
        });

        $('#admin_thread_lock').on('click', function(){
            AJAX.post_noButton($(this).attr("data-href"), {
                _forumid : {{ thread.forum.id }},
                _reply_text : $('#admin_thread_lock_text').val()
            }, $("#admin-status"));
        });

        //actions
        $('#admin_thread_archive').on('click', function(){
            AJAX.post_noButton($(this).attr("data-href"),{}, $("#admin-status"));
        });

        $('#admin_thread_pin').on('click', function(){
            AJAX.post_noButton($(this).attr("data-href"),{}, $("#admin-status"));
        });

        $('#admin_thread_disable').on('click', function(){
            AJAX.post_noButton($(this).attr("data-href"),{}, $("#admin-status"));
        });

        $('#admin_thread_move').on('change', function(){
            AJAX.post_noButton($(this).attr("data-href"),{
                '_forumto' : $(this).val()
            }, $("#admin-status"));
        });

        $('.mcsf_post_like').on('click', function(){
            var url = "{{ path('forum_post_like_ajax', {'id' : 'REPLACEID'}) }}";
            url = url.replace('REPLACEID', $(this).val());
            AJAX.post_text(url, $(this), ['liking...', 'you liked this!', 'could not like']);
            $(this).attr("disabled", "disabled");
        });
    </script>
    {% endif %}
    <script>
        $('#frmReply').submit(function(e) {
            $('#btnReply').attr('disabled', 'disabled');
        });
    </script>
{% endblock scripttags%}