{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Add page</h1>
        <div class="container-content clearfix">
            <div id="page-status" class="alert"></div>
            <!-- ADD PAGE -->
            <form action="{{ path('admin_page_edit_ajax') }}" id="frmEditPage" class="form-clean" method="post">
                <p>
                    <label for="name">Name</label><br/>
                    <input type="text" name="_admin_page_name" class="inputbox" id="name" value="{{ page.name }}">
                </p>
                <p>
                    <label for="url">url</label><br/>
                    <input type="text" name="_admin_page_url" class="inputbox" id="url" value="{{ page.url }}">
                </p>
                <p>
                    <label for="admin_page_website">Website</label><br/>
                    <select name="_admin_page_website" id="admin_page_website" class="selectable" value="Website" data-validate-options="selectable">
                        <option value="">Choose a website</option>
                        {% for website in websites %}
                            {% if page.website.id == website.id %}
                                <option selected="selected" value="{{ website.id }}">{{ website.name }}</option>
                            {% else %}
                                <option value="{{ website.id }}">{{ website.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="content">content:</label><br/>
                    <textarea name="_admin_page_content" cols="20" rows="30" class="inputbox" id="page-content" >{{ page.content }}</textarea>
                </p>
                <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="btnPageSave">save page</button>
                <div id="msgbox"></div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <script>
        $(document).ready(function(){
            UI.editor('page-content');

            $("#frmEditPage").submit(function() {

                for ( instance in CKEDITOR.instances )
                    CKEDITOR.instances[instance].updateElement();

                AJAX.post($("#frmEditPage").attr("action"), {
                    _admin_page_name : $('#name').val(),
                    _admin_page_url : $("#url").val(),
                    _admin_page_content : $("#page-content").val(),
                    _admin_page_id : "{{ page.id }}",
                    _admin_page_website : $('#admin_page_website').val()
                }, $("#page-status"), $('#btnPageSave'));
                return false;
            });
        });
    </script>
{% endblock %}
