{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Eye of Ender - Minecraft{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link rel="shortcut icon" href="{{ asset('bundles/maximthemeeoe/theme/images/favicon.ico') }}">
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="eyeofender.com"/>
    <meta name="og:type" content="website" />
    <meta name="og:title" content="Eye Of Ender minecraft, A free-to-play minecraft server" />
    <meta name="og:description" content="Eye Of Ender is a high quality free to play minecraft server" />
    <meta name="og:url" content="http://eyeofender.com"/>

    <meta name="description" content="Eye of ender is a minecraft server that provides the user with a unique minigames and a good list of minigames to choose from, this network is supported by the famous youtuber gizzy14gazza">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        {% stylesheets
            output='css'
            output='themes/eyeofender/css/main.css'
            filter='cssrewrite'
            'bundles/maximcms/plugins/tooltipster/css/tooltipster.css'
            'bundles/maximcms/plugins/tooltipster/css/themes/tooltipster-shadow.css'
            'bundles/maximcms/plugins/tooltip-toolbar/css/jquery.toolbars.css'
            'bundles/maximcms/plugins/tooltip-toolbar/css/toolbars-custom.css'
            'bundles/maximcms/plugins/redactor/redactor.css'
            'bundles/maximcms/plugins/animate/animate.css'
            'bundles/maximthemeeoe/theme/css/*'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
<header>

    <nav class="top-bar" data-topbar>
        <div class="wrapper-top clearfix">
            {# TOP BAR #}
            {% if networks %}
                <ul class="left" id="networks">
                    <li class="dropdown">
                        <a href="#" role="button" id="drop-networks" data-toggle="dropdown">Eye of Ender <b class="caret"></b></a>

                        <ul id="drop-network" class="dropdown-menu" role="menu" aria-labelledby="drop-networks">
                            <li><a href="http://eyeofender.com" title="Eye of Ender">Eye of Ender</a></li>
                        </ul>
                    </li>
                </ul>
                {% if app.security.token and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ render(controller('MaximCMSBundle:Default:notification')) }}
                {% endif %}
            {% endif %}
        </div>
    </nav>

    <nav id="navigation" class="wrapper clearfix">
        <div class="left navigation-logo">
            <h1 class="logo-text"><a href="{{ path('home') }}" title="Eye Of Ender home page">Eye Of Ender</a></h1>
            <span class="logo-caption">Minigame network</span>
        </div>
        <ul class="right">

            <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li class="dropdown">
                <a href="#" role="button" id="drop-servers" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span>Servers &raquo;</a>

                <ul class="dropdown-menu" aria-labelledby="drop-servers">
                    <li><a href="#">Archergames</a></li>
                </ul>
            </li>
            <li><a href="{{ path('shop') }}" title="Shop"><span class="glyphicon glyphicon-shopping-cart"></span>Shop</a></li>
            <li><a href="{{ path('forum_main') }}" title="Forums"><span class="glyphicon glyphicon-list-alt"></span>Forum</a></li>
            <li><a href="#" title="About Us"><span class="glyphicon glyphicon-info-sign"></span>About Us</a></li>
            <li><a href="{{ path('tickets_index') }}" title="Contact"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
            <li class="dropdown">
                <a href="#" role="button" id="drop-pages" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span>Other &raquo;</a>

                <ul class="dropdown-menu" aria-labelledby="drop-pages">
                    {{ render(controller('MaximCMSBundle:Default:custom_pages')) }}
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div id="wrapper" class="wrapper">

    {% block wrapper %}
        {# ANNOUNCEMENTS #}
        {{ render(controller('MaximCMSBundle:Default:announcementsLoad')) }}

        {% for key, flash in app.session.flashbag.all %}
            <div class="alert alert-{{ key }}">
                {{ flash[0] }}
            </div>
        {% endfor %}

        <!-- for statuses etc... -->
        <div id="global_messagebox"></div>
        {# END ANNOUNCEMENTS#}

        <section id="mid">

            <div class="ip">Server address: <span class="color-purple">hub.eyeofender.com</span></div>
            {% block body %}
            {% endblock body %}

        </section>


        <aside>
            {# MODULE: Account Panel #}
            <div class="module">
                <div class="module-content" style="border-top-right-radius: 3px;border-top-left-radius: 3px;">
                    <ul class="menu menu-stacked">
                        {% if app.user %}
                            <div class="profile-container clearfix">
                                <a href="{{ path('profile', { 'name' : app.user.username }) }}" class="left">
                                    <img src="http://minotar.net/helm/{{ app.user.username }}/75.png" alt="avatar from {{ app.user.username }}" class="preload"/>
                                </a>
                                <ul class="list sidebar-profile-holder">
                                    <li>
                                        <span class="label label-main">{{ app.user.group.name }}</span>
                                    </li>
                                    <li>
                                        <span class="label">{{ app.user.username }}</span>
                                    </li>
                                    <li>
                                        <span class="label">{{ app.user.lastLogin|date("M j, Y, g:i a") }}</span>
                                    </li>
                                </ul>
                            </div>
                            {% if app.security.token and is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li>
                                    <a href="?_switch_user=_exit" title="stop impersonate user">Stop impersonating</a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('account') }}" class="btn">Account panel</a></li>
                            {% if app.security.token and is_granted('ROLE_STAFF') %}
                                <li><a href="{{ path('sonata_admin_dashboard') }}" class="btn">Admin panel</a></li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}" class="btn">Logout</a></li>
                        {% else %}
                            <ul class="menu" style="padding:5px;">
                                <li class="logo-eoe"><a href="{{ path('register') }}"></a></li>
                            </ul>
                            <li><a href="{{ path('login') }}" class="btn">Login</a></li>
                            <li><a href="{{ path('register') }}" class="btn">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {# MODULE: Voting #}
            <div class="module">
                <h3 class="module-header">Voting</h3>
                <div class="module-content">
                    {{ render(controller('MaximCMSBundle:Vote:render')) }}
                </div>
            </div>

            {# MODULE: Latest Posts #}
            <div class="module">
                <h3 class="module-header">Latest Posts</h3>
                <div class="module-content">
                    {{ render(controller('MaximModuleForumBundle:Widget:latestPosts')) }}
                </div>
            </div>

            {# MODULE: Latest threads #}
            <div class="module">
                <h3 class="module-header">Latest Threads</h3>
                <div class="module-content">
                    {{ render(controller('MaximModuleForumBundle:Widget:latestThreads')) }}
                </div>
            </div>

            {# Twitter timeline #}
            <div style="margin-top:10px;">
                <a class="twitter-timeline" href="https://twitter.com/EyeOfEnderLtd" data-widget-id="401824404578910208">Tweets by @EyeOfEnderLtd</a>
            </div>
        </aside>

        <div style="clear:both;"></div>
    {% endblock wrapper %}
</div>

{# FOOTER #}
<footer class="clearfix">
    <div>
        <img src="{{ asset('bundles/maximthemeeoe/theme/images/logo-small.png') }}" class="logo left" />
    </div>
    <div>
        <p>All Rights Reserved 2013 © Eye of Ender, Created by <a href="mailto:c4d3r@hotmail.com">C4D3R</a></p>
        <p>Visit our other websites: <a href="http://eyeofender.com">EyeOfEnder.com</a></p>
        <nav>
            <ul class="menu menu-horizontal">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('forum_main') }}">Forum</a></li>
                <li><a href="{{ path('tickets_index') }}">Contact</a></li>
                <li><a href="{{ path('shop') }}">Shop</a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>

<!-- SCRIPTS -->
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% javascripts
    '@MaximCMSBundle/Resources/public/js/AJAX.js'
    '@MaximCMSBundle/Resources/public/js/UI.js'
    '@MaximCMSBundle/Resources/public/plugins/redactor/redactor.min.js'
    '@MaximCMSBundle/Resources/public/theme/plugins/cookie/jquery.cookie.js'
    '@MaximCMSBundle/Resources/public/plugins/parsley/parsley.js'
    '@MaximCMSBundle/Resources/public/plugins/parsley/parsley.remote.js'
    '@MaximCMSBundle/Resources/public/js/redactor_init.js'

    '@MaximThemeEOEBundle/Resources/public/theme/js/applications.js'
    '@MaximThemeEOEBundle/Resources/public/theme/js/jquery.cookie.js'
    '@MaximThemeEOEBundle/Resources/public/theme/js/jquery.dd.min.js'
    '@MaximThemeEOEBundle/Resources/public/theme/js/opentip-jquery.js'

    '@MaximCMSBundle/Resources/public/plugins/tooltipster/js/jquery.tooltipster.min.js'
    '@MaximCMSBundle/Resources/public/plugins/tooltip-toolbar/js/jquery.toolbar.min.js'
    output='themes/eyeofender/js/main.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascript_files %}
{% endblock %}
<script>
    {% block scripts %}
    {% endblock scripts %}
    // twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    //Google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37685775-2', 'eyeofender.com');
    ga('send', 'pageview');

    //Activate tooltips
    $('.tooltip-init').tooltipster({
        theme: '.tooltipster-shadow'
    });
    UI.preload();

    $('#notifications > .notification').on('click', function(){
        //mark notification as read
        $.ajax({
            type: "POST",
            url: "{{ path('notification_read_ajax') }}",
            data: { "_id" : $(this).attr('id') }
        });

        window.location.href = $(this).find('.notification-container').attr("data-href");
    })
</script>
{% block scripttags %}
{% endblock %}


</body>
</html>
{% endspaceless %}