{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Application statistics</h1>
        <div class="container-content">
            <p>Adding later</p>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>Application Actions</h1>
        <div class="container-content">
            <a href="{{ path('admin_application_add') }}" class="button" style="display:inline-block;">Add a new application form</a>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>Applications</h1>
        <div class="container-content clearfix">
            <div id="application-status" class="alert"></div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">OPEN APPLICATIONS</a></li>
                    <li><a href="#tabs-2">ACCEPTED APPLICATIONS</a></li>
                </ul>
                <div id="tabs-1">
                    <!-- VIEW NEWS POSTS -->
                    <table id="table_application">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>USER</th>
                            <th>DATE</th>
                            <th>RANK</th>
                            <th style="width:10px;">DENIED</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="width:10px;"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                        var editor; // use a global for the submit and return data rendering in the examples
                        var oTable;
                        var giRedraw = false;
                        $(document).ready(function() {
                            // Create the form

                            // Edit record
                            $('#table_application').on('click', 'a.editor_view', function (e) {
                                e.preventDefault();

                                //call ajax delete request
                                var url = '{{ path("admin_application_view", {'id': 'region_id'}) }}';
                                url = url.replace("region_id", this.getAttribute("data-id"));

                                var win=window.open(url, '_blank');
                                win.focus();
                            });

                            oTable = $('#table_application').dataTable( {
                                "bSort": true,
                                "bFilter": true,
                                "bProcessing": true,
                                "bServerSide": true,
                                aoColumnDefs: [
                                    {
                                        sDefaultContent: '',
                                        aTargets: [ '_all' ]
                                    }
                                ],
                                "sAjaxSource": "{{ path('admin_application_ajax') }}",
                                "aoColumns": [
                                    { "mData": "id" },
                                    { "mData": "user.username" },
                                    { "mData": "date" },
                                    { "mData": "application.rank.name" },
                                    {
                                        "mData": "denied",
                                        "sClass": "center"
                                    },
                                    {
                                        "mData": "id",
                                        "sClass": "center",
                                        "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                            return '<a href="#" data-id="' + row["id"] + '" class="editor_view button-small inline">V</a>';
                                        }
                                    }
                                ]
                            });

                        });
                    </script>
                </div>
                <div id="tabs-2">
                    <!-- VIEW NEWS POSTS -->
                    <table id="table_accepted_applications">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>USER</th>
                            <th>DATE</th>
                            <th>RANK</th>
                            <th style="width:10px;">DENIED</th>
                            <th>ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="width:10px;"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                        var editor2; // use a global for the submit and return data rendering in the examples
                        var oTable2;
                        var giRedraw2 = false;
                        $(document).ready(function() {
                            // Create the form

                            // Edit record
                            $('#table_accepted_applications').on('click', 'a.editor_view', function (e) {
                                e.preventDefault();

                                //call ajax delete request
                                var url = '{{ path("admin_application_view", {'id': 'region_id'}) }}';
                                url = url.replace("region_id", this.getAttribute("data-id"));

                                var win=window.open(url, '_blank');
                                win.focus();
                            });

                            oTable2 = $('#table_accepted_applications').dataTable( {
                                "bSort": true,
                                "bFilter": true,
                                "bProcessing": true,
                                "bServerSide": true,
                                aoColumnDefs: [
                                    {
                                        sDefaultContent: '',
                                        aTargets: [ '_all' ]
                                    }
                                ],
                                "sAjaxSource": "{{ path('admin_application_accepted_ajax') }}",
                                "aoColumns": [
                                    { "mData": "id" },
                                    { "mData": "user.username" },
                                    { "mData": "date" },
                                    { "mData": "application.rank.name" },
                                    {
                                        "mData": "denied",
                                        "sClass": "center"
                                    },
                                    {
                                        "mData": "id",
                                        "sClass": "center",
                                        "mRender": function( data, type, row) {    // You can use <img> as well if you want
                                            return '<a href="#" data-id="' + row["id"] + '" class="editor_view button-small inline">V</a>';
                                        }
                                    }
                                ]
                            });

                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#tabs').tabs();
    </script>
{% endblock %}
