{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block head %}
    <link href="{{ asset('/bundles/maximmoduleapplication/css/applications.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>Application</h1>
        <div class="container-content clearfix">
            <div id="application-status" class="alert"></div>
            {% if application.denied == 2 %}
                <span class="application-accepted alert-success alert-block">Accepted!</span>
            {% elseif application.denied == 1 %}
                <span class="application-denied alert-error alert-block">Denied!</span>
            {% endif %}
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#tabs-1">Application</a>
                    </li>
                    <li>
                        <a href="#tabs-2">Person details</a>
                    </li>
                    <li>
                        <a href="#tabs-3">User accounts</a>
                    </li>
                </ul>
                <div id="tabs-1">
                    <form action="{{ path('admin_user_update_ajax') }}" id="frmEditUser" method="post">
                        <table id="tblAdminApplication">
                            <tr>
                                <td>ID</td>
                                <td>{{ application.id}}</td>
                            </tr>
                            <tr>
                                <td>DESCRIPTION</td>
                                <td>{{ application.description|raw }}</td>
                            </tr>
                            <tr>
                                <td>USERNAME</td>
                                <td>{{ application.user.username }}</td>
                            </tr>
                            <tr>
                                <td>DATE</td>
                                <td>{{ application.date|date('Y-m-d h:i:s') }}</td>
                            </tr>
                            <tr>
                                <td>AGE</td>
                                <td>{{ age }}</td>
                            </tr>
                            <tr>
                                <td>RANK</td>
                                <td>{{ application.application.rank.name }}</td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="tabs-2">
                    <table id="tblAdminApplication2">
                        <tr>
                            <td>ID</td>
                            <td>{{ application.user.id}}</td>
                        </tr>
                        <tr>
                            <td>USERNAME</td>
                            <td>{{ application.user.username }}</td>
                        </tr>
                        <tr>
                            <td>SKYPE</td>
                            <td><a href="skype:{{ application.user.skype }}?add">{{ application.user.skype }}</a></td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td><a href="{{ path('admin_mail') }}?to={{ application.user.email }}">{{ application.user.email }}</a></td>
                        </tr>
                        <tr>
                            <td>REGISTERED ON</td>
                            <td>{{ application.user.registeredOn|date('Y-m-d h:i:s') }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width:100%">
        <h1>Replies</h1>
        <div class="container-content clearfix">
            <div id="reply-status"></div>
            <div class="application-replies">
                {% for key, reply in replies %}
                    <div class="application-reply">
                        {% if key is even %}
                            <div class="application-reply-even clearfix">
                                <div class="application-reply-details">
                                    <img src="https://minotar.net/avatar/{{ reply.user.username }}/40.png" alt="{{ reply.user.username }}" rel="tooltip" data-original-title="{{ reply.user.username }}"/>
                                    <h3>{{ reply.user.username }}</h3>
                                    <p class="application-postedon">{{ reply.date|date('Y-m-d h:i:s') }}</p>
                                </div>
                                <div class="applications-reply-content">
                                    <p>{{ reply.text|raw }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="application-reply-odd clearfix">
                                <div class="application-reply-details">
                                    <img src="https://minotar.net/avatar/{{ reply.user.username }}/40.png" alt="{{ reply.user.username }}" rel="tooltip" data-original-title="{{ reply.user.username }}"/>
                                    <h3>{{ reply.user.username }}</h3>
                                    <p class="application-postedon">{{ reply.date|date('Y-m-d h:i:s') }}</p>
                                </div>
                                <div class="applications-reply-content">
                                    <p>{{ reply.text|raw }}</p>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                {% else %}
                    <tr>
                        <td colspan="2">No replies found</td>
                    </tr>
                {% endfor %}
            </div>

            <hr/>
            <form action="{{ path('admin_application_reply') }}" method="post" id="frmReplyApplication" style="float:left;">
                <p>
                    <textarea id="reply" name="_reply" cols="100" rows="10" style="width:100%;" placeholder="Enter your reply here"></textarea>
                </p>
                <p>
                    <input type="submit" class="button" id="btnReply" name="_btnReply" value="Reply to application"/>

                </p>
                <input type="hidden" name="_hdnApplication" id="hdnApplication" value="{{ application.id }}"/>
            </form>

            <div style="position:relative;top:15px;left:10px;">
                {% if application.denied == 2 %}
                    <button id="btnDeny" action="{{ path('admin_application_deny') }}" value="{{ application.id }}">Deny</button>
                {% elseif application.denied == 1 %}
                    <button id="btnAccept" action="{{ path('admin_application_accept') }}" value="{{ application.id }}">Accept</button>
                {% else %}
                    <button id="btnDeny" action="{{ path('admin_application_deny') }}" value="{{ application.id }}">Deny</button>
                    <button id="btnAccept" action="{{ path('admin_application_accept') }}" value="{{ application.id }}">Accept</button>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#tabs').tabs();

            $("#frmReplyApplication").submit(function() {
                //get the url for the form
                AJAX.post(
                    $("#frmReplyApplication").attr("action"),
                    {
                        _reply : $('#reply').val(),
                        _application : $('#hdnApplication').val()
                    },
                    $("#reply-status"),
                    $("#btnReply")
                );
                //we dont what the browser to submit the form
                return false;
            });

            $("#btnDeny").click(function() {
                AJAX.post($("#btnDeny").attr("action"), {
                    _admin_app_id : $('#btnDeny').val()
                }, $("#reply-status"), $('#btnDeny'));
                return false;
            });
            $("#btnAccept").click(function() {
                AJAX.post($("#btnAccept").attr("action"), {
                    _admin_app_id : $('#btnAccept').val()
                }, $("#reply-status"), $('#btnAccept'));
                return false;
            });
        });
    </script>
    <div class="clearfix"></div>
{% endblock %}
