{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
    <h1>Edit news article</h1>
    <div class="container-content clearfix">
        <div id="news-status"></div>
        <form action="{{ path('admin_news_update_ajax') }}" class="form-clean" id="frmEditNews" method="post">
            <p>
                <label for="news-title">Title</label><br/>
                <input type="text" name="_admin_news_title" class="inputbox" value="{{ news.title }}" id="news-title" >
            </p>
            <p>
                <label for="section">Section</label>
                {{ render(controller('MaximAdminBundle:Admin:widget', {'widget' : 'news_section'})) }}

            </p>
            <p>
                <label for="content" >Content</label>

                <textarea cols="80" rows="20" name="_admin_news_content" id="news-content" style="width:670px;">{{ news.content }}</textarea>
            </p>
            <input type="submit" value="Save" class="button" id="btnSave"/>
            <input type="hidden" name="_hdnId" id="admin_news_id_hdn" value="{{ news.id }}"/>
        </form>
    </div>
    <script>
        //onclick
        UI.editor('news-content');
        {% if news.section.name is defined %}
            $('#widget_news_section').val("{{ news.section.id }}");
        {% endif %}
        $('#frmEditNews').submit(function(e) {
            e.preventDefault();

            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();

            AJAX.post_noButton(
                $("#frmEditNews").attr("action"),
                {
                    _admin_news_id : $('#admin_news_id_hdn').val(),
                    _admin_news_title : $("#news-title").val(),
                    _admin_news_content : $("#news-content").val(),
                    _admin_news_section : $("#widget_news_section").val()
                },
                $("#news-status")
            );
        });
    </script>
    </div>
{% endblock %}
