{% extends 'MaximAdminBundle:Default:index.html.twig' %}
{% block content %}
    <div class="container" style="width:100%;">
        <h1>User - {{ user.username }} statistics</h1>
        <div class="container-content">
            <p>Adding later</p>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>User - {{ user.username }} actions</h1>
        <div class="container-content clearfix">
            <div id="user-status" class="alert"></div>
            {% if user.banned %}
                <button id="user-unban">unban User</button>
            {% else %}
                <button id="user-ban">Ban User</button>
            {% endif %}
        </div>
    </div>
    <div class="container" style="width:100%;">
        <h1>User - {{ user.username }} actions</h1>
        <div class="container-content clearfix">
            <div id="msgbox"></div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Profile</a></li>
                </ul>
                <div id="tabs-1">
                    <form action="{{ path('admin_user_update_ajax') }}" id="frmEditUser" method="post">
                        <p>
                            <label for="name">Username</label>
                            <br/>
                            <input type="text" name="_admin_user_username" class="inputbox" value="{{ user.username }}" id="username" >
                        </p>
                        <p>
                            <label for="name">Email</label>
                            <br/>
                            <input type="text" name="_admin_user_email" class="inputbox" value="{{ user.email }}" id="email" >
                        </p>
                        <p>
                            <label for="name">LastIp</label>
                            <br/>
                            <input type="text" name="_admin_user_lastIp" class="inputbox" value="{{ user.lastIp }}" id="lastIp" >
                        </p>
                        <p>
                            <label for="name">LastLogin</label>
                            <br/>
                            <input type="text" name="_admin_user_lastLogin" class="inputbox" value="{{ user.lastLogin|date('Y-m-d h:i:s') }}" id="lastLogin" >
                        </p>
                        <p>
                            <label for="name">dateOfBirth</label>
                            <br/>
                            <input type="text" name="_admin_user_dateOfBirth" class="inputbox" value="{{ user.dateOfBirth|date('Y-m-d') }}" id="dateOfBirth" >
                        </p>
                        <p>
                            <label for="name">Location</label>
                            <br/>
                            <input type="text" name="_admin_user_location" class="inputbox" value="{{ user.location }}" id="location" >
                        </p>
                        <p>
                            <label for="name">Skype</label>
                            <br/>
                            <input type="text" name="_admin_user_skype" class="inputbox" value="{{ user.skype }}" id="skype" />
                        </p>
                        <p>
                            <select id="groups" class="multiselect" multiple="multiple" name="groups[]">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                                {% for user_groups in user.userGroups %}
                                    <option value="{{ user_groups.id }}" selected="selected">{{ user_groups.name }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <input type="hidden" name="_admin_user_id" value="{{ user.id }}" id="admin_user_id_hdn"/>
                        <button type="submit" id="btnSaveUser">Save user</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- BAN POPUP -->
        <div id="ban-user">
            <form action="{{ path('admin_ban_user') }}" id="frmBanUser" method="post">
                <fieldset>
                    <label for="ban_permanent" >Permanent?</label>
                    <input type="checkbox" name="_ban_permanent" id="ban_permanent" />
                    <br/>
                    <input type="text" name="_ban_reason" id="ban_reason" placeholder="ban reason:" /><br/>
                    <input type="text" name="_ban_time" id="ban_time" placeholder="ban time: "/>
                </fieldset>
            </form>
            <script>
                $(document).ready(function() {
                    $('#ban_permanent').change(function(){
                        if(!$('#ban_permanent').is(':checked'))
                        {
                            $('#ban_time').slideDown(300);
                        }
                        else
                        {
                            $('#ban_time').slideUp(300);
                        }
                    });
                });
            </script>
        </div>
    </div>
    <div class="clearfix"></div>
    <script>
        $(document).ready(function() {
            $('#tabs').tabs();
            $("#groups").multiselect();

            $("#frmEditUser").submit(function() {
                AJAX.post(
                        $("#frmEditUser").attr("action"),
                        {
                            _admin_user_id 			: $('#admin_user_id_hdn').val(),
                            _admin_user_username 	: $("#frmEditUser #username").val(),
                            _admin_user_email 		: $("#frmEditUser #email").val(),
                            _admin_user_lastIp 		: $("#frmEditUser #lastIp").val(),
                            _admin_user_lastLogin 	: $("#frmEditUser #lastLogin").val(),
                            _admin_user_dateOfBirth : $("#frmEditUser #dateOfBirth").val(),
                            _admin_user_location 	: $("#frmEditUser #location").val(),
                            _admin_user_skype 		: $("#frmEditUser #skype").val(),
                            _admin_user_groups		: $("#frmEditUser #groups").val()
                        },
                        $("#msgbox") ,
                        $('#btnSaveUser')
                );
                return false;
            });
            $('#user-unban').button().click(function( event )
            {
                console.log('unban clicked');
                event.preventDefault();
                AJAX.post_noButton(
                        "{{ path('admin_unban_user') }}",
                        {
                            _ban_user : $('#username').val()
                        },
                        $("#msgbox")
                );
            });


            //BUTTON
            $( "#user-ban" ).click(function( event ) {
                event.preventDefault();
                $('#ban-user').dialog("open");
            });

        });
        $(function(id) {
            $( "#ban-user" ).dialog({
                height: 350,
                width: 400,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Ban user": function(){
                        //get the url for the form
                        AJAX.post_noButton(
                                $("#frmBanUser").attr("action"),
                                {
                                    _ban_reason : $("#ban_reason").val(),
                                    _ban_time : $("#ban_time").val(),
                                    _ban_permanent : $("#ban_permanent:checked").val(),
                                    _ban_user : $('#username').val()
                                },
                                $("#msgbox")
                        );
                    },
                    Cancel: function(){
                        $(this).dialog("close");
                    },
                    close: function(){
                        $(this).dialog("close");
                    }
                }
            });
        });

    </script>
{% endblock %}
