{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Tickets</h3>
        <div class="page-content">
            <div>
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#panel2-1">Tickets</a></dd>
                    <dd><a href="#panel2-2">Create a ticket</a></dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="panel2-1">
                        <table class="table table-striped table-hover" id="tblTickets">
                            <tr>
                                <th>Number</th>
                                <th>Description</th>
                                <th>Last update</th>
                            </tr>
                            {% for ticket in tickets %}
                                <tr data-link="{{ ticket.id }}" style="cursor:pointer;">
                                    <td>{{ ticket.id }}</td>
                                    <td>{{ ticket.description|truncate(50) }}</td>
                                    <td>{{ ticket.statuschangedon|date('Y-m-d h:i:s') }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">No tickets have been found</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="content" id="panel2-2">
                        <div id="ticket-status" class="alert" style="display:none;"></div>
                        <form action="{{ path('ticket_create') }}" method="post" class="form-horizontal" id="frmCreateTicket">
                            <fieldset>
                                <div>
                                    <label for="section">Section:</label>
                                    <select name="_section" id="section">
                                        {% for section in sections %}
                                            <option value="{{ section.id }}">{{ section.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <label for="description">Description: </label>
                                    <textarea id="description" name="_description" cols="30" rows="10"></textarea>
                                </div>
                                <div>
                                    <input type="submit" value="Open a ticket" class="btn btn-info" name="_btnCreateTicket" id="btnCreateTicket"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    $('#tblTickets tr').click(function(){
    if($(this).attr("data-link") != undefined)
    {
    window.location.href = '{{ path('ticket_view_pattern') }}' + '/' + $(this).attr("data-link");
    }
    })

    $("#frmCreateTicket").submit(function() {
    //get the url for the form
    AJAX.post(
    $("#frmCreateTicket").attr("action"),
    $('#frmCreateTicket').serialize(),
    $("#ticket-status"),
    $("#btnCreateTicket"));
    //we dont what the browser to submit the form
    return false;
    });

{% endblock %}
