<!--<link href="{{ asset('css/opentip.css')}}" >-->
<div id="newComment"></div>
{% for comment in comments %}
<div class="news-comment" id="comment_{{ comment.id }}">
	<div class="news-comment-user">
		<a data-ot-ajax="{{ path('profile_load_content', {username : comment.username} )}}" data-ot-style="dark" id="my-element" href="{{ path('server_player', {'username': comment.username} ) }}" class="news-comment-user-portret">
			<img src="https://minotar.net/helm/{{ comment.username }}/40.png" alt="{{ comment.username }}" tag="{{ comment.username }}"/>
		</a>
		<div class="news-comment-text">
			<span class="news-comment-username">{{ comment.username }} <span class="news-comment-date"> posted at {{ comment.date|date }}</span></span>
			<span class="news-comment-message">{{ comment.message }}</span>
		</div>
		
		<div class="clear-both"></div>
	</div>
</div>
{% else %}
<p>
	No comments found
</p>
{% endfor %}

<hr/>
<form id="frmComment" action="{{ path('commentAction') }}" method="post">
	<p>
		<textarea id="news_message" cols="1" rows="3"></textarea>
	</p>
	<input type="hidden" id="hdnNews" value="{{ newsId }}" />
	<input type="submit" class="btnGreen comment-button" id="btnComment" value="Comment" />
</form>

<p id="commentstatus"></p>
<div class="clear-both"></div>
<script>
	$(document).ready(function(){
	$("#frmComment").submit(function() {
		//get the url for the form
		AJAX.post((
			$("#frmComment").attr("action")), 
			{ 
				_news_id : $("#hdnNews").val(), 
				_news_message : $("#news_message").val()
			}, 
			$("#commentstatus"), 
			$("#btnComment")
			);
		//we dont what the browser to submit the form
		return false;
	});
})
</script>

