<style>
	.friend-action {
		width: 100px;
		height: 50px;
		background: #DBDBDB;
		border: 1px solid #333333;
		float: left;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		margin-top: 0;
		padding: 0;
		text-align: right;
	}

	.friend-action li a {
		display: block;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-right: 5px;
	}
	.friend-action li a:hover {
		background: #fff;
	}
</style>
{% if friends is defined %}
	<h1>{{ Owner_profile }}</h1>
	<h1>Friends</h1>
	{% for friend in friends %}
		{% if is_profileOwner(player) == "true" %}
			<div class="friend">
				<img src="https://minotar.net/helm/{{ friend.username }}/10.png" title="{{ friend.username }}" style="display:block;width:20px;height:20px;float:left;"/>
			</div>
		{% else %}
			<a href="{{ path('server_player', {'username': friend.username} ) }}" style="display:block;width:50px;height:50px;float:left;"> <img src="https://minotar.net/helm/{{ friend.username }}/40.png" title="{{ friend.username }}" /> </a>
		{% endif %}
	{% else %}
		<p>
			This player has no friends yet
		</p>
	{% endfor %}
{% else %}
	<p>
		This player has not registered on our website.
	</p>
{% endif %}
