{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}

<div class="page">
	<div class="page-header">
		<h1>Player - {{ player }}</h1>
	</div>
	
	<script>
	$(document).ready(function()
	{
		$('.friend-action').hide();
		$('.friend').click(function(){
			$('.friend-action').animate({width: 'toggle'});
		});
	});
		
	</script>
	<style>
		.friend-action
		{
			width:100px;
			height:50px;
			background:#DBDBDB;
			border:1px solid #333333;
			float:left;
			border-top-right-radius:5px;
			border-bottom-right-radius:5px;
			margin-top:0;
			padding:0;
			text-align:right;
		}

		.friend-action li a
		{
			display:block;
			
			padding-top:3px;
			padding-bottom:3px;
			padding-right:5px;
		}
		.friend-action li a:hover
		{
			background:#fff;
		}
	</style>
	<div class="page-content">
		{% if friends is defined %}
			<div class="profile-action">
				<a href="{{ path('profile_friend_add', {'username' : player} )}}" alt="add friend">Add friend</a>
			</div>
			<h1>Website user</h1>
			{{ Owner_profile }}
			<br/><br/>
			<h1>Friends</h1>
			{% for friend in friends %}
				{% if is_profileOwner(player) == "true" %}
					<div class="friend">
						<img src="https://minotar.net/avatar/{{ friend.username }}/40.png" title="{{ friend.username }}" style="display:block;width:50px;height:50px;float:left;"/>
						<ul class="friend-action">
							<li><a href="{{ path('server_player', {'username': friend.username} ) }}">View friend</a></li>
							<li><a href="{{ path('profile_friend_delete', {'username': Owner_profile, 'friend': friend.username} ) }}">Delete friend</a></li>	
						</ul>	
					</div>
				{% else %}
					<a href="{{ path('server_player', {'username': friend.username} ) }}" style="display:block;width:50px;height:50px;float:left;">
						<img src="https://minotar.net/avatar/{{ friend.username }}/40.png" title="{{ friend.username }}" />
					</a>
				{% endif %}
			{% else %}
			<p>This player has no friends yet</p>
			{% endfor %}
		{% else %}
			<p>This player is not registered on our website.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
