{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div id="profile-info" class="pull-left">
        <div class="side-box">
            <div class="side-box-content">
                <div id="profile-info-helm">
                    <img src="http://minotar.net/helm/{{ player.username }}/125.png"/>
                </div>
                {% if not (player.id == app.user.id) %}
                    <div id="profile-actions">
                        <ul>
                            {% if not hasFriendRequest(player) %}
                            <li><button id="button_friend_request" class="btn btn-xs btn-default">Send friend request</button></li>
                            {% elseif player|isFriend(app.user) %}
                            <li><button id="button_friend_delete" class="btn btn-xs btn-default" value="{{ player.id }}">Delete friend</button></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="side-box">
            <h3 class="side-box-header">Friends ({{ player.friends|length }})</h3>
            <div class="side-box-content">
                <ul class="list-friends">
                    {% for friend in player.friends %}
                        <li>
                            <a href="{{path('profile', {'name' : friend.friend.username }) }}" title="View profile of {{ friend.friend.username }}"><img src="https://minotar.net/helm/{{ friend.friend.username }}/29.png" alt="{{ friend.friend.username }}"/></a>
                        </li>
                    {% else %}
                        <span>This player has no friends</span>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="profile-content">
        <h1 class="profile-bar"><span class="label label-info">{{ app.user.rank.name }}</span>{{ player.username }}</h1>
        <h2>User activity</h2>
    </div>
{% endblock %}

{% block scripttags %}

    {# SCRIPTS #}
    <script type="text/javascript">
        $('#button_friend_request').on('click', function(){
            AJAX.post_regular("{{ path('profile_friend_request_ajax') }}", { _user : "{{ app.user.id }}", _recipient : "{{ player.id }}" }, function(status) {
                AJAX.notify($('#global_messagebox'), status);
                if(status.success == true) {
                    $('#button_friend_request').attr("disabled", true).text("Request sent!");
                }
            });
        });
        $('#button_friend_delete').on('click', function(){
            AJAX.post_regular("{{ path('profile_friend_delete_ajax') }}", { _friend : "{{ player.id }}" }, function(status) {
                AJAX.notify($('#global_messagebox'), status);
                if(status.success == true) {
                    $('#button_friend_delete').attr("disabled", true).text("Friend deleted");
                    setTimeout("location.reload();", 1000);
                }
            });
        });
    </script>

{% endblock %}
