{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div class="page">
        <h3 class="page-header">Profile</h3>
        <div class="page-content">
            <ul class="menu menu-squared clearfix">
                <li>
                    <a href="{{ path('fos_user_change_password') }}">
                        <i class="glyphicon glyphicon-lock"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_profile_show') }}">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>View profile</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span>Edit profile details</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('profile_friend_requests') }}">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>Friend requests</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('shop') }}">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span>Shop</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('tickets_index') }}">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <span>Tickets</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('application_account') }}">
                        <i class="glyphicon glyphicon-tasks"></i>
                        <span>Applications</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('shop_purchase_history') }}">
                        <i class="glyphicon glyphicon-gift"></i>
                        <span>Purchase History</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
