{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
    <div id="profile">
        <div id="profile-header" class="clearfix">
            <img src="https://minotar.net/helm/{{ player.username }}/115.png" id="profile-image" class="left"/>
            <div class="profile-header-text">
                <h2>{{ player.username }}</h2>
                <span class="profile-rank {{ player.rank.cssClass }}">{{ player.rank }}</span>
                {% if app.user and not (player.id == app.user.id) %}
                    <div id="profile-actions" class="right">
                        <ul>
                            {% if player|isFriend(app.user) %}
                                <li><button id="button_friend_delete" class="btn btn-xs profile-button" value="{{ player.id }}">Delete friend</button></li>
                            {% elseif not hasFriendRequest(player) %}
                                <li><button id="button_friend_request" class="btn btn-xs profile-button">Send friend request</button></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="profile-content" class="row">
            <aside id="profile-sidebar" class="large-3 columns">
                <div class="profile-sidebar">
                    <h3 class="profile-sidebar-header">Friends ({{ player.friends|length }})</h3>
                    <div class="profile-sidebar-content">
                        <ul class="profile-sidebar-imageblock">
                            {% for key, friend in player.friends if key < 12%}
                                <li>
                                    <a href="{{path('profile', {'name' : friend.friend.username }) }}" title="View profile of {{ friend.friend.username }}"><img src="https://minotar.net/helm/{{ friend.friend.username }}/37.png" alt="{{ friend.friend.username }}"/></a>
                                </li>
                            {% else %}
                                <span>This player has no friends</span>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </aside>

            <div class="profile-content large-9 columns end">
                <h3 class="profile-content-header">User activity</h3>
                <div class="profile-content-main">
                    Work in progress
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripttags %}
    {% if app.user %}
        {# SCRIPTS #}
        <script type="text/javascript">
            $('#button_friend_request').on('click', function(){
                AJAX.post_regular("{{ path('profile_friend_request_ajax') }}", { _user : "{{ app.user.id }}", _recipient : "{{ player.id }}" }, function(status) {
                    AJAX.notify($('#global_messagebox'), status);
                    if(status.success == true) {
                        $('#button_friend_request').attr("disabled", true).text("Request sent!");
                    }
                });
            });
            $('#button_friend_delete').on('click', function(){
                AJAX.post_regular("{{ path('profile_friend_delete_ajax') }}", { _friend : "{{ player.id }}" }, function(status) {
                    AJAX.notify($('#global_messagebox'), status);
                    if(status.success == true) {
                        $('#button_friend_delete').attr("disabled", true).text("Friend deleted");
                        setTimeout("location.reload();", 1000);
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
