{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
<div class="page">
	<div class="page-header">
		<h3>Shop - Confirm</h3>
	</div>
	<div class="page-content">
        <div class="well">
            <h4>CONFIRMATION</h4>
			<table class="table">
                <tr>
                    <th>Category:</th>
                    <td>{{ item.category.name }}</td>
                </tr>
				<tr>
					<th>Group / Item:</th>
					<td>{{ item.name }}</td>
				</tr>
				<tr>
					<th>User:</th>
					<td>{{ user.username }}</td>
				</tr>
				<tr>
                    <th>Price:</th>
                    <td>{{ config.currency_symbol }} {{ item.amount|number_format(2) }}</td>
                </tr>
                <tr>
                    <th>Tax:</th>
                    <td>{{ item.tax }}%</td>
                </tr>
                <tr>
                    <th>Grand total:</th>
                    <td>{{ config.currency_symbol }} {{ (item.amount + (item.amount * (item.tax / 100)))|number_format(2) }}</td>
                </tr>
			</table>
            <h3>Checkout</h3>
            <div class="ShopConfirmBox-payment-method panel">
                <form action="{{ path('shop_finish') }}" method="post" style="margin:0;" id="frmShop">
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="custom" value="{{ user.custom }}" />
                    <input type="hidden" name="_ign" value="{{ user.ign }}" />
                    <input type="hidden" name="button_shop_checkout" id="frmShopTypeHolder"/>
                    <img data-value="PAYPAL" data-handler="external" class="shop-buy-button" src="{{ asset('/bundles/maximcms/images/paypal/checkout-2.png') }}" />
                    <img data-value="BTC" data-handler="iframe" class="shop-buy-button" src="{{ asset('/bundles/maximcms/images/bitcoin/buy-now.png') }}" />
                    {#<input type="image" value="BTC" name="button_shop_checkout" alt="Submit" src="{{ asset('/bundles/maximcms/images/paypal/checkout-2.png') }}" />#}
                </form>
            </div>
            <div id="iframe-loader" class="alert alert-info"></div>
            <div id="frmIframeHolder" class="panel" style="display:none;"></div>
        </div>
	</div>
</div>
{% endblock %}
{% block scripttags %}
    <script>
        $(function(){
            var frmShop = $('#frmShop');
            $('#iframe-loader').hide();
            $('.shop-buy-button').on('click', function(){
                var frmHolder = $('#frmShopTypeHolder');
                var frmShop = $('#frmShop');
                frmHolder.val($(this).attr('data-value'));
                frmShop.removeAttr('target');

                if($(this).attr("data-handler") == "external") {
                    frmShop.attr('target', '#');
                    frmShop.submit();
                } else {
                    $('#iframe-loader').text('Loading, please wait...').slideDown();
                    //iframe should return url
                    $.post(frmShop.attr('action'), frmShop.serialize(), function(iframeUrl){

                        // define vars
                        var holder = $('#frmIframeHolder');
                        var iElement = $('<iframe id="frmShopIframe"></iframe>');

                        //listen for the bitpay event being send!
                        window.addEventListener("message", function(event) {
                            if(event.data.status.toLowerCase() == "paid") {

                                holder.slideUp();
                                $('#iframe-loader').text("Payment complete! Redirecting you to the homepage in 5 seconds").slideDown();

                                window.setTimeout( function(){
                                    window.location.href = "{{ path('home') }}";
                                }, 5000);
                            }
                        }, false);

                        iElement.attr('src', iframeUrl);
                        iElement.css({'width': '100%', 'height': '155px', 'border': 'none'});
                        iElement.load(function(){
                            $('#iframe-loader').slideUp();
                            holder.slideDown();
                        });
                        holder.append(iElement);
                    })
                }
            });
        });
    </script>
{% endblock %}
