{% extends 'MaximCMSBundle:Default:index.html.twig' %}

{% block body %}
<div class="page">
	<div class="page-header">
		<h1>Online Players</h1>
	</div>
	<div class="page-content">
		<div id="players"></div>
		{% for player in onlinePlayers %}
		<a 
			data-ot="{{ player }}" 
			data-ot-ajaxCache="true" 
			data-ot-ajax="{{ path('profile_load_content', {username : player} )}}" 
			data-ot-style="dark"
			href="{{ path('server_player', {'username': player} ) }}" 
			style="display:block;width:50px;height:50px;float:left;"
		>
			<img src="https://minotar.net/helm/{{ player }}/40.png" title="{{ player }}" />
		</a>
		{% else %}
		<p>
			There is nobody online
		</p>
		{% endfor %}
		<div style="clear:both;"></div>
	</div>
</div>
{% endblock %}
