<!DOCTYPE>
<html>
<head>
	<title>New admin panel</title>
    {% stylesheets
        output='css'
        output='assets/admin/css/main.css'
        filter="cssrewrite"
        filter='yui_css'
        '@MaximAdminBundle/Resources/public/css/style.css'
        '@MaximAdminBundle/Resources/public/css/fonts.css'
        '@MaximAdminBundle/Resources/public/css/datatable.css'
        '@MaximAdminBundle/Resources/public/css/ui.multiselect.css'
        '@MaximAdminBundle/Resources/public/plugins/codemirror/codemirror.css'
        '@MaximAdminBundle/Resources/public/css/jquery-theme.css'
        '@MaximAdminBundle/Resources/public/css/jquery-ui-1.10.3.custom.css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!--    '@MaximAdminBundle/Resources/public/css/absolution.css' -->
    {% javascripts
        '@MaximAdminBundle/Resources/public/js/jquery-2.0.2.min.js'
        '@MaximAdminBundle/Resources/public/js/jquery-ui-1.10.3.custom.js'
        '@MaximCMSBundle/Resources/public/js/AJAX.js'
        '@MaximAdminBundle/Resources/public/js/UI.js'
        '@MaximAdminBundle/Resources/public/js/jquery.dataTables.js'
        '@MaximAdminBundle/Resources/public/js/ckeditor/ckeditor.js'
        '@MaximAdminBundle/Resources/public/plugins/tmpl/jquery.tmpl.1.1.1.js'
        '@MaximAdminBundle/Resources/public/js/ui.multiselect.js'
        '@MaximAdminBundle/Resources/public/plugins/codemirror/codemirror.js'
        filter='yui_js'
        output='assets/admin/js/main.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block head %}
    {% endblock %}
	<!--<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>-->
</head>
<body>
	<div id="wrapper">
		<aside>
			<div id="sidebar-bg"></div>
			<div id="sidebar">
				<div id="menu">
					<ul>
						<li>
							<a href="{{ path('admin') }}">
			                    <div data-icon="&#xf108;"></div>
								<span>Dashboard</span>
							</a>
						</li>
						<li>
							<a href="{{ path('admin_user') }}">
			                    <div data-icon="&#xf007;"></div>
								<span>Users</span>
							</a>
						</li>
			            <li>
			                <a href="{{ path('admin_groups') }}">
			                    <div data-icon="&#xf007;"></div>
			                    <span>Groups</span>
			                </a>
			            </li>
						<li>
							<a href="{{ path('admin_vote') }}">
			                    <div data-icon="&#xf006;"></div>
								<span>Vote</span>
							</a>
						</li>
						<li>
							<a href="{{ path('admin_page') }}">
			                    <div data-icon="&#xf016;"></div>
								<span>Pages</span>
							</a>
						</li>
						<li>
							<a href="{{ path('admin_purchase') }}">
			                    <div data-icon="&#xf09d;"></div>
								<span>Purchases</span>
							</a>
						</li>
						<li>
							<a href="{{ path('admin_shop') }}">
			                    <div data-icon="&#xf07a;"></div>
								<span>Shop</span>
							</a>
						</li>
						<li>
							<a href="{{ path('admin_poll') }}">
			                    <div data-icon="&#xf0ca;"></div>
								<span>Poll</span>
							</a>
						</li>
						<li>
							<a href="{{ path('admin_application') }}">
			                    <div data-icon="&#xf00b;"></div>
								<span>Applications</span>
							</a>
						</li>
                        <li>
                            <a href="{{ path('ticket_admin') }}">
                                <div data-icon="&#xf00b;"></div>
                                <span>Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_announcements') }}">
                                <div data-icon="&#xf00b;"></div>
                                <span>Announcements</span>
                            </a>
                        </li>
					</ul>
				</div>
				<div id="submenu">
					<h1>Users</h1>
					<ul>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
						<li><a href="#">Test</a></li>
					</ul>
				</div>
			</div>
		</aside>
		<section id="main">
			<div id="top-bar">
				<div id="profile">
					<div class="profile-picture">
						<img src="http://minotar.net/avatar/{{ app.user.username }}/50.png" alt="{{ app.user.username }} portret"/>
					</div>
					<div class="profile-info">
						<h2>{{ app.user.username|upper }}</h2>
						<ul>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="content">
				{% block content %}
                    <div class="container" style="width:50%;">
                        <h1 class="container-header">Statistics</h1>
                        <div class="container-content">
                            <ul>
                                <li>{{ registers.amount }} people registered in the past 24 hours</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container container-50">
                        <h1 class="container-header">Configurations</h1>
                        <div class="container-content">
                            <div id="msgbox"></div>
                            VERSION: 2.0
                            <table>
                                <tr>
                                    <td>Application settings</td>
                                    <td><a class="button" href="{{ path('admin_edit', {file: 'Resources/config/globals.yml'}) }}">SETTINGS</a></td>
                                </tr>
                                <tr>
                                    <td>CMS Settings</td>
                                    <td><a class="button" href="{{ path('admin_edit', {file: 'Resources/config/settings.yml'}) }}">SETTINGS</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                {% endblock %}
			</div>
		</section>
	</div>
	<script>
		/*$.each($('#menu ul li a'), function() {
			$(this).click(function() {
				console.log($(this).text().replace(/\s+/g, ' ').toUpperCase())
				console.log($('#submenu h1').text());
				if($(this).text().replace(/\s+/g, ' ').toUpperCase() == $('#submenu h1').text().toUpperCase()) {
					console.log("hi");
				}
				$('#submenu').animate({'width': 'toggle'});
			});
		});
        */
        $(function() {
            $('#left-bar-bg').css("height", $(window).height());
            //Select picker
            $('.selectpicker').selectpicker();
            $( ".tooltip-modules" ).tooltip({
                show: null,
                track: true,
                open: function( event, ui ) {
                    ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast" );
                }
            });
        });

        $('.module_change').click(function() {
            var status = $(this).text();
            if(status == "Disable") {
                status = 0;
            } else {
                status = 1;
            }
            AJAX.post(
                "{{ path('admin_module_disable') }}", {
                    _module_id : $(this).val(),
                    _module_active : status },
                $("#msgbox-modules"),
                $('.module_disable')
            );
        });
    </script>

</body>
</html>